@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Edit student";
    var userExist = 0;
    Database db;
    var id = "";
 
    //userdata variables
    var naam = "";
    var achternaam = "";
    var klas = ""; 
    var mentor = "";
    var studentnummer = "";
    var tussenvoegsels = "";
    var geslacht = "";
    var geboortedatum = "";
    var vooropleiding = "";
    var email = "";
    var emailinstelling  = "";
    var adrestype = "";
    var etiketnaam  = "";
    var adres = "";
    var postcode = "";
    var telefoonnummer = "";
    var telefoonnummermobiel = "";
    var herinschrijving = "";
    var opleiding = "";
    var fase = "";
    var datumvan = "";
    var datumtot = "";
    var aankomst_bij_isatcode = "";
    var aanmeldingsdatum = "";
    var datumdefinitief = "";

    Validation.Add("naam", 
        Validator.Required("Je moet een voornaam invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("achternaam", 
        Validator.Required("Je moet een achternaam invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("klas", 
       Validator.Required("je moet een klas invullen"));
    Validation.Add("telefoonnummer", 
        Validator.Required("je moet een telefoonnummer invullen"), 
        Validator.StringLength(20, 0,"Niet meer dan 20 karakters")); 
    Validation.Add("email", 
        Validator.Required("Je moet een email-adres invullen"),
        Validator.Regex(@"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", 
        "Invalid format for an email address")); 
    Validation.Add("mentor", 
        Validator.Required("Je moet een mentor invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("studentnummer", 
        Validator.Required("Je moet een studentnummer invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("voorvoegsel", 
        Validator.Required("Je moet een voorvoegsel invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("geslacht", 
        Validator.Required("Je moet een geslacht invullen")); 
    Validation.Add("geboortedatum", 
        Validator.Required("Je moet een geboortedatum invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("vooropleiding", 
        Validator.Required("Je moet een vooropleiding invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("emailinstelling", 
        Validator.Required("Je moet een email-adres invullen"),
        Validator.Regex(@"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", 
        "Invalid format for an email address")); 
    Validation.Add("adrestype", 
        Validator.Required("Je moet een adrestype invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("adrestype", 
        Validator.Required("Je moet een adrestype invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("etiketnaam", 
        Validator.Required("Je moet een etiketnaam invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("adres", 
        Validator.Required("Je moet een adres invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("postcode", 
        Validator.Required("Je moet een postcode en woonplaats invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters")); 
     Validation.Add("telefoonnummermobiel", 
        Validator.Required("Je moet een mobiele telefoonnummer invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
      Validation.Add("herinschrijving", 
        Validator.Required("Bij herinschrijving voer in: 1"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("opleiding", 
        Validator.Required("Je moet een opleiding invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("fase", 
        Validator.Required("Je moet een fase invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("datumvan", 
        Validator.Required("Je moet een begindatum invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("datumtot", 
        Validator.Required("Je moet een einddatum invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("aankomst_bij_isatcode", 
        Validator.Required("Je moet aankomst bij isatcode invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("aanmeldingsdatum", 
        Validator.Required("Je moet een aanmeldingsdatum invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
     Validation.Add("datumdefinitief", 
        Validator.Required("Je moet een definitieve datum invullen"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));

   if (IsPost) {
      
     naam = Request.Form["naam"];
     achternaam = Request.Form["achternaam"];
     klas = Request.Form["klas"];
     mentor = Request.Form["mentor"];
     studentnummer = Request.Form["studentnummer"];
     tussenvoegsels = Request.Form["tussenvoegsels"];
     geslacht = Request.Form["geslacht"];
     geboortedatum = Request.Form["geboortedatum"];
     vooropleiding = Request.Form["vooropleiding"];
     email = Request.Form["email"];
     emailinstelling  = Request.Form["emailinstelling"];
     adrestype = Request.Form["adrestype"];
     etiketnaam  = Request.Form["etiketnaam"];
     adres = Request.Form["adres"];
     postcode = Request.Form["postcode"];
     telefoonnummer = Request.Form["telefoonnummer"];
     telefoonnummermobiel = Request.Form["telefoonnummermobiel"];
     herinschrijving = Request.Form["herinschrijving"];
     opleiding = Request.Form["opleiding"];
     fase = Request.Form["fase"];
     datumvan = Request.Form["datumvan"];
     datumtot = Request.Form["datumtot"];
     aankomst_bij_isatcode = Request.Form["aankomst_bij_isatcode"];
     aanmeldingsdatum = Request.Form["aanmeldingsdatum"];
     datumdefinitief = Request.Form["datumdefinitief"];
 
    }
     
    
 
 
    if (!Request.QueryString["student"].IsEmpty()){
        id = Request.QueryString["student"];
        db = Database.Open("database");
 
        var Query = "SELECT count(*) FROM students WHERE id = @0";
        userExist = db.QueryValue(Query,id);
        
         if(userExist == 1){
            var DataQuery = "SELECT * FROM students WHERE id = @0";
            var userData = db.QuerySingle(DataQuery,id);
            db.Close();
        naam = userData.roepnaam;
        achternaam = userData.naam;
        klas = userData.groep;
        mentor = userData.mentor;
        studentnummer = userData.studentnummer;
        tussenvoegsels = userData.voorvoegsels;
        geslacht = userData.geslacht;
        geboortedatum = userData.geboortedatum;
        vooropleiding = userData.vooropleiding;
        email = userData.emailprive;
        emailinstelling = userData.emailinstelling;
        adrestype = userData.adrestype;
        etiketnaam = userData.etiketnaam;
        adres = userData.etiketregel1;
        postcode = userData.etiketregel2;
        telefoonnummer = userData.telefoonnummer;
        telefoonnummermobiel = userData.telefoonnummermobiel;
        herinschrijving = userData.herinschrijving;
        opleiding = userData.opleiding;
        fase = userData.fase;
        datumvan = userData.datumvan;
        datumtot = userData.datumtot;
        aankomst_bij_isatcode = userData.aankomst_bij_isatcode;
        aanmeldingsdatum = userData.aanmeldingdatum;
        datumdefinitief = userData.datumdefinitief;
 
 
        
         } else {
        Response.Redirect("~/admin/students/viewstudents");
         }
    }
    else{
        Response.Redirect("~/admin/students/viewstudents");
    }
 
}
<div id="content">
    <div id="customForm">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Voornaam</label>
            <input type="text" value="@naam" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Achternaam</label>
            <input type="text" value="@achternaam" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Tussenvoegsels</label>
            <input type="text" value="@tussenvoegsels" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Initialen</label>
            <input type="text" value="@etiketnaam" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Klas</label>
            <input type="text" value="@klas" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Studentnummer</label>
            <input type="text" value="@studentnummer" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Geslacht</label>
            <input type="text" value="@geslacht" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Geboortedatum</label>
            <input type="text" value="@geboortedatum" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Telefoonnummer</label>
            <input type="text" value="@telefoonnummer" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Mobiele telefoonnummer</label>
            <input type="text" value="@telefoonnummermobiel" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Prive e-mail</label>
            <input type="text" value="@email" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">School e-mail</label>
            <input type="text" value="@emailinstelling" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Adres</label>
            <input type="text" value="@adres" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Postcode</label>
            <input type="text" value="@postcode" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Adrestype</label>
            <input type="text" value="@adrestype" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Mentor</label>
            <input type="text" value="@mentor" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Vooropleiding</label>
            <input type="text" value="@vooropleiding" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Opleiding</label>
            <input type="text" value="@opleiding" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Herinschrijving</label>
            <input type="text" value="@herinschrijving" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Aanmeldingsdatum</label>
            <input type="text" value="@aanmeldingsdatum" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Aankomst bij isatcode</label>
            <input type="text" value="@aankomst_bij_isatcode" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Datum definitief</label>
            <input type="text" value="@datumdefinitief" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Datum van/tot</label>
            <input type="text" value="@datumvan"  class="form-control" id="exampleInputPassword1"> tot <input type="text" value="@datumtot"  class="form-control" id="exampleInputPassword1">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Fase</label>
            <input type="text" value="@fase" class="form-control" id="exampleInputPassword1">
          </div>
    </form>
            
   
    <div class="row">
         <form method="POST" action="">

                <div class="form-group"> 
                <label for="naam" @if(!ModelState.IsValidField("naam")) {<text>class="error-label"</text>}>Password</label>
                <input type="text" name="naam" class="form-control" id="IdNaam" placeholder="Voer naam in" value="@naam" @Validation.For("naam")>
                <noscript>@Html.ValidationMessage("naam")</noscript>
                </div>

                <div class="form-group"> 
                <label for="achternaam">Achternaam</label>
                <input type="text" name="achternaam" class="form-control" id="IdAchternaam" placeholder="Voer achternaam in" value="@achternaam" @Validation.For("achternaam")>
                <noscript>@Html.ValidationMessage("achternaam")</noscript>
                </div>

                <div class="form-group"> 
                <label for="achternaam">Tussenvoegsel</label></label>
                <input type="text" name="tussenvoegsel" class="form-control" id="IdTussenvoegsel" placeholder="Voer tussenvoegsel in" value="@tussenvoegsel" @Validation.For("tussenvoegsel")>
                <noscript>@Html.ValidationMessage("tussenvoegsel")</noscript>
                </div>
                
                

                <div class="form-group">
                <label for="exampleInputFile">Geslacht</label>
                <select name="geslacht" class="form-control">
                <option selected="">Voer een geslacht in</option>
                <option value="1" selected=@(Request.Form["geslacht"] == "1") >Man</option>
                <option value="2" selected=@(Request.Form["geslacht"] == "2")>Vrouw</option>
                </select>
                <noscript>@Html.ValidationMessage("geslacht")</noscript>
                </div>
                
                <div class="form-group"> 
                <label for="telefoonnummer">Telefoonnummer</label>
                <input type="tel" name="telefoonnummer" class="form-control" id="IdTelefoonnummer" placeholder="Voer telefoonnummer in" value="@telefoonnummer" @Validation.For("telefoonnummer")>
                @Html.ValidationMessage("telefoonnummer")
                </div>

                <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="IdEmail" placeholder="Voer email-Adres in" value="@email" @Validation.For("email")>
                @Html.ValidationMessage("email")
                </div>
             </form>
                 db.Close();   
                 <button type="submit" class="btn btn-default">Submit</button>
                </select>
            </div>
        </div>
    </div>
</div>

          
  
         
        
