@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Studenten";
    var db = Database.Open ("database");
    var students = db.Query ("SELECT * FROM students");
}
 
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>	
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Studentnummer</th>
                <th>Klas</th>
                <th>Telefoonnummer</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in students)
      {
                
            <tr>
             <td>@student.roepnaam</td>
             <td>@student.voorvoegsels</td>
             <td>@student.naam</td>
             <td>@student.studentnummer</td>
             <td>@student.groep</td>
             <td>@student.telefoonnummermobiel</td>
           
                
                <td><a href="~/admin/students/editstudent?student=@student.id"><button type="button" class="tablebutton btn btn-primary">edit</button></a></td>
                <td><a href="~/admin/students/deletestudent?student=@student.id"><button type="button" class="tablebutton btn btn-danger">delete</button></a></td>
                

           </tr>
      }
        </tbody>
    </table>
</div>

