@{
     Layout = "~/_LoginLayout.cshtml";
    Page.Title = "Password Reset";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];
    bool tokenExpired = false;
    bool isSuccess = false;
    string newPassword ="";
    string confirmPassword = "";
    string resettoken ="";    
    string k = "";

     // Setup validation
            Validation.RequireField("newPassword", "Wachtwoord is verplicht!");
            Validation.RequireField("confirmPassword", "is verplicht!");
            Validation.Add("password",
                Validator.StringLength(
                maxLength: Int32.MaxValue,
                minLength: 6, 
                errorMessage: "Password must be at least 6 characters"));

    if (IsPost) 
    {
        newPassword = Request["newPassword"];
        confirmPassword = Request["confirmPassword"];
        resettoken = Request.Form["resetToken"];
        
        if(Validation.IsValid() && resettoken != ""){
             
            if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {
               isSuccess = true;
            } 
            else 
            {
                ModelState.AddError("passwordResetToken", "Wachtwoord reset token ongeldig.");
                tokenExpired = true;
            }
        }
    }
}

<section id="loginForm">
    <legend><h1>Wachtwoord vergeten?</h1></legend>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">Wachtwoord wijzigen</h3>
                    </div>
                    <form role="form" method="post">
                    
                    @Html.ValidationSummary(excludeFieldErrors: true)
                              
                        @if (tokenExpired) 
                        {
                            <p class="validation-summary-errors">
                                <span>Wachtwoord reset token ongeldig. bezoek <a href="~/Account/ForgotPassword">wachtwoord vergeten</a> 
                                voor een nieuwe token.</span>
                            </p>
                        } 
                               
                    @if (IsPost){            
                        @if (isSuccess)
                        {
                            <p class="message-success">
                            Wachtwoord Gewijzigd! klik <a href="~/Account/Login" title="Log in">hier</a> om in te loggen.
                            </p>
                        }
                        else
                        {
                            <text>Wachtwoord wijzigen niet gelukt.</text>
                        }
                     }
                            <div class="form-group">
                            <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>New password</label> 
                            <input type="password" class="form-control" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                            @Html.ValidationMessage("newPassword")
                            </div>

                            <div class="form-group">
                            <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Confirm password</label> 
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                            @Html.ValidationMessage("confirmPassword")
                            </div>

                           <input type="submit" class="btn btn-lg btn-success btn-block" value="Reset password" value="Wachtwoord Wijzigen" disabled="@isSuccess" />                                     
                     </form>      
                    </div>
                </div>            
            </div>
        </div>
</section>
