@using System;
@using System.Text;
@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Gebruiker toevoegen";



    // Initialize general page variables
    var email = "";
    var role = "";
    var password = "awnawndiawdin";
    var voornaam = "";
    var achternaam = "";
    var telefoonnummer = "";
    var geslacht = "";
    Database db;
    var result = "";

    // Setup validation
   Validation.Add("voornaam", 
     Validator.Required("Veld mag niet leeg zijn"), 
      Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
   Validation.Add("achternaam", 
      Validator.Required("Veld mag niet leeg zijn"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));
    Validation.Add("geslacht", 
      Validator.Required("Veld mag niet leeg zijn"));
    Validation.Add("roleSelect", 
       Validator.Required("Veld mag niet leeg zijn"));
    Validation.Add("telefoonnummer", 
       Validator.Required("Veld mag niet leeg zijn"), 
       Validator.StringLength(20, 0,"Niet meer dan 20 karakters")); 
    Validation.Add("email", 
       Validator.Required("Veld mag niet leeg zijn"),
       Validator.Regex(@"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", "Invalid format for an email address")); 
       
         

    // If this is a POST request, validate and process data
    if (IsPost) {
      
        email = Request.Form["email"];
        role = Request.Form["roleSelect"];
        voornaam = Request.Form["voornaam"];
        achternaam = Request.Form["achternaam"];
        telefoonnummer = Request.Form["telefoonnummer"];
        geslacht = Request.Form["geslacht"];


        // If all information is valid, create a new account
        if (Validation.IsValid()) 
        {
            // Insert a new user into the database
            db = Database.Open("database");

            // Check if user already exists
            var user = db.QuerySingle("SELECT Email FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", email);
            if (user == null) 
            {
                // Insert email into the profile table
                var userQuery = db.Execute("INSERT INTO UserProfile (Email, voornaam, achternaam, telefoonnummer, geslacht ) VALUES (@0, @1, @2, @3, @4) ", email, voornaam, achternaam, telefoonnummer, geslacht);
                
                string pass ="";
                //create random password
                    string valid = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";
                    StringBuilder res = new StringBuilder();
                    Random rnd = new Random();
                    int i = 0;
                    while (i < 8)
                    {
                        res.Append(valid[rnd.Next(valid.Length)]);
                        i++;
                    }
                    pass = res.ToString();
               
                Roles.AddUserToRole(email, role);
                // Create and associate a new entry in the membership database.
                // If successful, continue processing the request

        try {
                bool requireEmailConfirmation = !WebMail.SmtpServer.IsEmpty();
                var token = WebSecurity.CreateAccount(email, pass, requireEmailConfirmation);
                if (requireEmailConfirmation) {
                    var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                    var ho = "http://p3p.frolich-it.nl:8070/";
                    var confirmationUrl = k + VirtualPathUtility.ToAbsolute("Account/Confirm?confirmationCode=" + HttpUtility.UrlEncode(token));
                   
                    WebMail.Send(
                        to: email,
                        subject: "Activeer uw account | Studentoverzicht",
                        body: "<b>Gebruik onderstaande gegevens om in te loggen:</b><br /> Email: "+email+" <br /> Password: "+pass+" <br /> Bezoek onderstaande link om uw account te activeren: </br> <a href='" + confirmationUrl + "'>" + confirmationUrl + "</a><br />"
                    ); 
                }

                if (requireEmailConfirmation)
                    {
                    // Thank the user for registering and let them know an email is on its way
                    Response.Redirect("~/Admin/Users/ViewUsers");
                } 
                else {
                    // Navigate back to the homepage and exit
                    WebSecurity.Login(email, password);

                    Response.Redirect("~/");
                }
                } catch (System.Web.Security.MembershipCreateUserException e) 
                {
                    ModelState.AddFormError(e.Message);
                }
            } 
            else 
            {
                // User already exists
                ModelState.AddFormError("Email-adres is al in gebruik.");
            }
        }
        var errorMessageEmail = "";

    }

  db = Database.Open("database");
        var query = "SELECT * FROM webpages_Roles";
        var data = db.Query(query);


}
<noscript>Your browser does not support JavaScript!</noscript>
<div id="content">
    <div id="customForm">
    <div class="row">
       
         <form id="AddUserForm" method="POST" action="">
               <div class="form-group"> 
                <label for="achternaam">Voornaam</label>
                <input type="text" name="voornaam" class="form-control" id="IdVoornaam" placeholder="Voer voornaam in" value="@voornaam" @Validation.For("voornaam")>
                <noscript>@Html.ValidationMessage("voornaam")</noscript>
                </div>

                <div class="form-group"> 
                <label for="achternaam">Achternaam</label>
                <input type="text" name="achternaam" class="form-control" id="IdAchternaam" placeholder="Voer achternaam in" value="@achternaam" @Validation.For("achternaam")>
                <noscript>@Html.ValidationMessage("achternaam")</noscript>
                </div>

                <div class="form-group">
                <label for="geslacht">Geslacht</label>
                <select name="geslacht" class="form-control">
                <option value=" " selected="selected">Voer een geslacht in</option>
                <option value="1" selected=@(Request.Form["geslacht"] == "1") >Man</option>
                <option value="2" selected=@(Request.Form["geslacht"] == "2")>Vrouw</option>
                </select>
                <noscript>@Html.ValidationMessage("geslacht")</noscript>
                </div>
                
                <div class="form-group"> 
                <label for="telefoonnummer">Telefoonnummer</label>
                <input type="tel" name="telefoonnummer" class="form-control" id="IdTelefoonnummer" placeholder="Voer telefoonnummer in" value="@telefoonnummer" @Validation.For("telefoonnummer")>
                <noscript>@Html.ValidationMessage("telefoonnummer")</noscript>
                </div>
                

                <div class="form-group">
                <label for="email">Email-adres</label> 
                <input type="email" name="email" class="form-control" id="IdEmail" placeholder="Voer Email-adres in" value="@email" @Validation.For("email")> @Html.Raw(result)  @Html.ValidationSummary(true)
                <noscript></noscript></noscript>
                </div>

                <input name="__RequestVerificationToken" type="hidden" value=""/>  
                <div class="form-group">
                <label for="role">Rol van gebruiker</label>
                <select name="roleSelect" class="form-control">
                <option value=" " selected="selected">Voer een rol in</option>
                @foreach(var row in db.Query("SELECT * FROM webpages_Roles")) 
                 {
                    <option value="@row.rolename" selected=@(Request.Form["roleSelect"] == @row.RoleId.ToString())>@row.rolename</option>
                 }
                @{db.Close();}         
                </select>
                <noscript>@Html.ValidationMessage("roleSelect")</noscript>
                </div>
                <button type="submit" class="btn btn-default">Toevoegen</button>
             </form>
        </div>
    </div>
</div>

