@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Edit user";
    var db = Database.Open("database");
    int userExist = 0;
    var id = "";
 
    var k = db.QuerySingle("SELECT userId FROM UserProfile WHERE email = @0", User.Identity.Name);

    if(Request.QueryString["user"].IsEmpty() || Convert.ToInt32(k.userId) == Convert.ToInt32(Request.QueryString["user"]))  
    {
         Response.Redirect("/Admin/Users/ViewUsers");
    }

       // Setup validation
    Validation.Add("voornaam", 
       Validator.Required("Veld mag niet leeg zijn"), 
       Validator.StringLength(20, 2, "Voornaam moet langer zijn dan 2 karakters"));

    Validation.Add("achternaam", 
       Validator.Required("Veld mag niet leeg zijn"), 
       Validator.StringLength(20, 2, "Niet meer dan 20 karakters"));

    Validation.Add("geslacht", 
       Validator.Required("Veld mag niet leeg zijn"));

    Validation.Add("roleSelect", 
       Validator.Required("Veld mag niet leeg zijn"));

    Validation.Add("telefoonnummer", 
       Validator.Required("Veld mag niet leeg zijn"), 
       Validator.StringLength(20, 0,"Niet meer dan 20 karakters"));
        
    Validation.Add("email", 
       Validator.Required("Veld mag niet leeg zijn"),
       Validator.Regex(@"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$","Foutief Email-adres")); 
        

    //userdata variables
    var voornaam = "";
    var achternaam = "";
    var telefoonnummer = "";
    dynamic geslacht = 0;
    var email = "";
    dynamic rolophalen = null;
    var roloud = "";
    var rol = "";
  
 
     if (!Request.QueryString["user"].IsEmpty())
     {   
        id = Request.QueryString["user"];
        db = Database.Open("database");
 
        var Query = "SELECT count(*) FROM UserProfile WHERE UserId = @0";
        userExist = db.QueryValue(Query,id);
        
         if(userExist == 1)
         {
            var DataQuery = "SELECT * FROM UserProfile WHERE UserId = @0";
            var userData = db.QuerySingle(DataQuery,id);
            rolophalen = db.QueryValue("SELECT RoleId FROM webpages_UsersInRoles WHERE UserId = @0", id);
            roloud = db.QueryValue("SELECT RoleName FROM webpages_Roles WHERE RoleId = @0", rolophalen);
            
            voornaam = userData.voornaam;
            achternaam = userData.achternaam;
            telefoonnummer = userData.telefoonnummer;
            geslacht = userData.geslacht;
            email = userData.email;        
         } 
         
         else 
         {
           Response.Redirect("~/admin/users/ViewUsers");
         }   
     }

     else
     {
      Response.Redirect("~/admin/users/ViewUsers");
     }

     if(IsPost)
      {  //opvragen van informatie
          
         //AntiForgery.Validate();
         voornaam = Request.Form["voornaam"];
         achternaam = Request.Form["achternaam"];
         telefoonnummer = Request.Form["telefoonnummer"];
         geslacht = Request.Form["geslacht"];
         email = Request.Form["email"];
         rol = Request.Form["roleSelect"];

             // If all information is valid, create a new account
             if(Validation.IsValid())
             {
                var updateCommand = "UPDATE UserProfile SET voornaam=@0, achternaam=@1, geslacht=@2, telefoonnummer=@3, email=@4 WHERE UserId=@5";
                db.Execute(updateCommand, voornaam, achternaam, geslacht, telefoonnummer, email, id);
                db.Execute("UPDATE webpages_UsersInRoles SET RoleId=@0 WHERE UserID=@1", rol.ToString(), id);

                Response.Redirect("~/admin/Users/ViewUsers");
             } 
             else 
             {
                
                ModelState.AddFormError("Email-adres is al in gebruik.");
             }
        
    
         }
    
}
<noscript>Your browser does not support JavaScript!</noscript>
<div id="content">
    <div id="customForm">
    <div class="row">
         <form id="AddUserForm" method="POST" action="">

                <div class="form-group"> 
                <label for="achternaam">Voornaam</label>
                <input type="text" name="voornaam" class="form-control" id="IdVoornaam" placeholder="Voer voornaam in" value="@voornaam" @Validation.For("voornaam")>
                <noscript>@Html.ValidationMessage("voornaam")</noscript>
                </div>

                <div class="form-group"> 
                <label for="achternaam">Achternaam</label>
                <input type="text" name="achternaam" class="form-control" id="IdAchternaam" placeholder="Voer achternaam in" value="@achternaam" @Validation.For("achternaam")>
                <noscript>@Html.ValidationMessage("achternaam")</noscript>
                </div>
                 
             
                <div class="form-group">    
                <label for="geslacht">Geslacht</label>
                <select name="geslacht" class="form-control">
                    
                     @if(geslacht.ToString() == "1")
                     {
                        <option value="1" selected="selected">Man</option>
                        <option value="2">vrouw</option>
                     }
                     else
                     {
                         <option value="1">Man</option>
                         <option value="2" selected="selected">vrouw</option>
                     }
           
                </select>
                <noscript>@Html.ValidationMessage("geslacht")</noscript>
                </div>
                
                <div class="form-group"> 
                <label for="telefoonnummer">Telefoonnummer</label>
                <input type="tel" name="telefoonnummer" class="form-control" id="IdTelefoonnummer" placeholder="Voer telefoonnummer in" value="@telefoonnummer" @Validation.For("telefoonnummer")>
                <noscript>@Html.ValidationMessage("telefoonnummer")</noscript>
                </div>
                

                <div class="form-group">
                <label for="email">Email-adres</label>
                <input type="email" name="email" class="form-control" id="IdEmail" placeholder="Voer Email-adres in" value="@email" @Validation.For("email")>
                <noscript>@Html.ValidationMessage("email")</noscript>
                </div>

                <input name="__RequestVerificationToken" type="hidden" value=""/>  
                <div class="form-group">
                <label for="role">Rol van gebruiker</label>
                <select name="roleSelect" class="form-control">
                @foreach(var row in db.Query("SELECT * FROM webpages_Roles")) 
                 { 
                     if((int)rolophalen == row.RoleId)
                     {
                         <option value="@row.RoleId" selected="selected">@row.rolename</option>
                     }
                     else
                     {
                         <option value="@row.RoleId" >@row.rolename</option>
                     }
  
                 }    
                </select>
                @{db.Close();} 
                <noscript>@Html.ValidationMessage("roleSelect")</noscript>
                </div>
                <button type="submit" class="btn btn-default">Aanpassen</button>
             </form>
        </div>
    </div>
</div>

