@{
        Layout = "~/_MainLayout.cshtml";
        Page.Title = "Gebruikers";
        var db = Database.Open("database");
        var users = db.Query("SELECT * FROM UserProfile");
        var userrole = db.QuerySingle("SELECT RoleId FROM webpages_UsersInRoles");
}

<table id="ViewUserTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Geslacht</th>
                <th>Telefoonnummer</th>
                <th>Email-Adres</th>
                <th>Rol</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                userrole = db.QuerySingle("SELECT RoleId FROM webpages_UsersInRoles WHERE UserId = @0", user.UserId);
                <tr>  
                <td> @user.voornaam </td>
                <td> @user.achternaam</td>
                <td> @if(user.geslacht == 1)
                     {
                         <text>Man</text> 
                     }
                     else if (user.geslacht == 2)
                     {
                         <text>Vrouw</text>
                     }
                </td>
                <td> @user.telefoonnummer</td>
                <td> @user.email</td>
                <td>@if(userrole.RoleId == 1)
                    {
                        <text>Administrator</text>
                    }
                    else if  (userrole.RoleId == 2)
                    {
                        <text>User</text>
                    }
                    else if (userrole.RoleId == 3)
                    {
                        <text>Student</text>
                    }
                </td>

                <td><a href="~/admin/users/edituser?user=@user.UserId"><button type="button" class="tablebutton btn btn-primary">Edit</button></a></td>
                <td><a href="#"><button type="button" data-id="@user.UserId" class="tablebutton btn btn-danger verwijderbutton">Delete</button></a></td>
                </tr>
            }
           
            
        </tbody>
     <tfoot>
    </tfoot>
    

    </table>